<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Empleados</title>
</head>
<body>
<main>
    <div  class="px-3 py-4 my-5 text-center">
        <h1 class="display-5 fw-Josefin Sans mb-4">Empleados</h1>
        <div class="d-flex gap-4 justify-content-center">
            <div th:each="usuario : ${usuario}" class="card mb-3" style="width: 18rem;">
                <div th:switch="${usuario.usuarioDisponible}">
                    <img th:case = "true" class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/3261/3261382.png" alt="Card image cap">
                    <img th:case = "false" class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/3261/3261386.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${usuario.nombreUsuario}"></h5>
                    <p class="card-text" th:text="${usuario.edad} + ' años'"></p>
                    <p class="card-text" th:text="${usuario.numeroTelefono}"></p>
                    <p class="card-text" th:text="${usuario.correoElectronico}"></p>
                    <p class="card-text" th:text="${usuario.rolEmpresa}"></p>
                    <div th:if="${!usuario.usuarioDisponible}">

                        <form th:action = "@{/usuario/{id}(id=${usuario.id})}" th:method = "patch" >
                            <button type="submit" class="btn btn-primary">Ya activo</button>
                        </form>
                    </div>
                </div>
                <form th:action = "@{/usuario/{id}(id=${usuario.id})}" th:method = "delete" >
                    <button type="submit" class="btn btn-danger">Eliminar Empleado</button>
                </form>
                <div>
                   <a th:href="@{/Usuarios/guardarEdicion/{id}(id=${usuario.id})}" class = "btn btn-primary">Modificar Empleado</a>
                </div>
            </div>
        </div>
        <div class = "text-center mt-4">
            <a href="/Usuarios/newUsuario" class= "btn btn-secondary">Añadir Empleado</a>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
